.navbar-my-theme {
    background-color: white;
    border: transparent;
}
.navbar-my-theme img {
    height: 100%;
}
/* da sistemare i padding dei singoli elementi e far collassare anche in md*/
section {
    padding: 30px 0;
}
.bg-img {
    background-image: url(img/bg-banner-home.jpg);
    background-size: cover;
}
.bg-grey {
    background-color: #f3f5f9;
}
.bg-blue {
    /* sarebbe un gradiente ma vediamo poi */
    background-color: blue;
}
.bg-darkblue {
    background-color: midnightblue;
}
.text-black {
    color: black;
}
.text-white {
    color: white;
}
.text-blue {
    color: dodgerblue;
}
.text-grey {
    color: lightgray;
}
.text-darkgrey {
    color: grey;
}
.text-underline {
    text-decoration: underline;
}
.text-small {
    font-size: 10px;
}
.text-caps {
    text-transform: uppercase;
}
.my-b1 {
    background-color: white;
    border-color: dodgerblue;
    color: dodgerblue;
}
.my-b2 {
    width: 100%;
    background-color: dodgerblue;
}
.my-b3 {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px rgb(0 0 0 / 10%);
    background-image: url(img/google-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* da aggiustare dimensioni e opacità */
}
.my-b4 {
    background-color: white;
    color: dodgerblue;
}
.bubble {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.bubble > * {
    margin-bottom: 10px;
}
/* da aggiustare margini vari */
.client-logo {
    width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.my-hfix {
    height: 100px;
}
.link-list > li {
    border-left: 1px solid grey;
    padding: 10px 5px;
}
.link-list a {
    color: grey;
}
.my-margin-top-l {
    margin-top: 40px;
}
.my-margin-top-s {
    margin-top: 20px;
}
.my-margin-bottom-l {
    margin-bottom: 40px;
}
.my-margin-bottom-s {
    margin-bottom: 20px;
}
.my-margin-bottom-xs {
    margin-bottom: 10px;
}
.my-margin-arrow {
    margin-top: 15%;
}
.my-heavy-pad {
    padding: 40px 0;
}
.deploy-img {
    /* nome da rivedere forse */
    display: block;
    width: 30px;
}
.carousel-img {
    width: 100%;
}
.circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid dodgerblue;
}
.full {
    background-color: dodgerblue;
}
.my-table tr:first-child > * {
    border-color: transparent;
}
.my-table td:last-child {
    text-align: right;
}
.carousel-logo {
    width: 200px;
}
.social-logos a {
    color: lightgray;
    font-size: 15px;
    margin-right: 10px;
}
footer h5 {
    margin-top: 20px;
}
footer li {
    margin-top: 10px;
}
footer li > a {
    color: lightgray;
}

/* controlla margini su media query per i carousel */