.navbar-my-theme {
    background-color: white;
    border: transparent;
    margin-bottom: 0;
}
.navbar-my-theme img {
    height: 100%;
}
.navbar-my-theme li a {
    padding-left: 10px;
    padding-right: 10px;
}
.right {
    float: right;
    margin-right: 10px;
}
#hamburger-menu {
    line-height: 50px;
    font-size: large;
}
section {
    padding: 30px 0;
}
.bg-img {
    background-image: url(img/bg-banner-home.jpg);
    background-size: cover;
}
.bg-grey {
    background-color: #f3f5f9;
}
.bg-blue {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,56,168,1) 0%, rgba(0,76,230,1) 100%);
}
.bg-darkblue {
    background-color: midnightblue;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.text-black {
    color: black;
}
.text-white {
    color: white;
}
.text-blue {
    color: dodgerblue;
}
.text-grey {
    color: lightgray;
}
.text-darkgrey {
    color: grey;
}
.text-underline {
    text-decoration: underline;
}
.text-small {
    font-size: 10px;
}
.text-caps {
    text-transform: uppercase;
}
.my-b1 {
    background-color: white;
    border-color: dodgerblue;
    color: dodgerblue;
}
.my-b2 {
    width: 100%;
    background-color: dodgerblue;
}
.my-b3 {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px rgb(0 0 0 / 10%);
    background-image: url(img/google-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
}
.my-b4 {
    background-color: white;
    color: dodgerblue;
}
.main-text {
    font-size: 50px;
}
.bubble {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.bubble > * {
    margin-bottom: 10px;
}
.client-logo {
    width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.my-hfix {
    height: 100px;
}
.link-list > li {
    border-left: 1px solid grey;
    padding: 10px 5px;
}
.link-list a {
    color: grey;
}
.my-margin-top-l {
    margin-top: 40px;
}
.my-margin-top-s {
    margin-top: 20px;
}
.my-margin-bottom-s {
    margin-bottom: 20px;
}
.my-margin-bottom-xs {
    margin-bottom: 10px;
}
.my-margin-arrow-l {
    margin-top: 15%;
}
.my-margin-arrow-s {
    margin-top: 10%;
}
.my-heavy-pad {
    padding: 40px 0;
}
.small-icon {
    display: block;
    width: 30px;
}
.carousel-img {
    width: 100%;
}
.circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid dodgerblue;
}
.full {
    background-color: dodgerblue;
}
.my-table tr:first-child > * {
    border-color: transparent;
}
.my-table td:last-child {
    text-align: right;
}
.my-table a {
    color: turquoise;
}
.carousel-logo {
    width: 200px;
}
.social-logos a {
    color: lightgray;
    font-size: 15px;
    margin-right: 10px;
}
footer h5 {
    margin-top: 20px;
}
footer li {
    margin-top: 10px;
}
footer li > a {
    color: lightgray;
}
/* in modalità tablet e smartphone i cerchietti sotto al primo carousel hanno più margin-top */
@media screen and (max-width: 991px) {
    #circles {
        margin-top: 40px;
    }
}
/* bonus icona help */
#img-fixed {
    width: 50px;
    height: 50px;
    background-color: rgb(26, 117, 207);
    border-radius: 5px;
    position: fixed;
}
#img-fixed img {
    width: 100%;
    margin-top: 10px;
}
#unread {
    width: 25px;
    height: 25px;
    background-color: red;
    border: 3px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
}
#chat-fixed {
    width: 300px;
    position: fixed;

}
#chat-root {
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(70%);
}
@media screen and (min-width: 992px) {
    #img-fixed {
        bottom: 30px;
        right: 25px;
    }
    #chat-fixed {
        bottom: 30px;
        right: 95px;
    }
}
@media screen and (max-width: 991px) {
    #img-fixed {
        bottom: 110px;
        left: 25px;
    }
    #chat-fixed {
        bottom: 30px;
        left: 25px;
    }
}